/* #background {
    position: fixed;
    
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("sejong.jpg");
    background-position: center;
    background-size: auto;
    opacity: 50%;
} */

body {
    display: block;
}


h1 {
    text-align: center;
}

#content {
    width: 700px;
    margin: 0 auto;
}

#inner-content {
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 12px;
    border: 1px dashed #999;
    background-color: rgb(233, 245, 252);
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.options {
    font-weight: bold;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    min-height: 200px;
    resize: auto;

}

.buttons {
    border: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
    padding: 9px 12px;
    font-size: 18px;
    cursor: pointer;
}

footer {
    display: block;
    text-align: center;
}

#github-link {
    padding-top: 50px;
}



@media screen and (max-width: 830px) {
    body {
        font-size: 21px;
    }

    #content {
        width: auto;
    }

    textarea {
        font-size: 21px;
    }
}


